body {
  margin: 0;
  background: #000;
border: 3px solid black;
}
video { 
  position: fixed;
  bottom: -18%;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}


